.footer{
    width: 100%;
    height: 180px;
    background:black;
    &__main{
        max-width:1170px;
        margin:auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-top:30px;
    }
    &__content{
        @include display(flex-start,flex-start);
        flex-direction: column;
        
        color:white;
        h3{
            font-size: 11px;
            font-weight: 700;
            margin-bottom: 15px;
        }
        span{
            font-size: 12px;
            line-height: 22px;
            color:#cbcbcb;
            i{
              
                margin-right: 7px;
            }
        }

    }
}