.header{
    width:100%;
    &__top{
        max-width:1170px;
        margin:auto;
        width:100%;
        height:40px;
        padding:0px 20px;
        border-bottom: 1px solid black;
        @include display(flex-end, center);
        a{
            text-decoration: none;
            font-size: 11px;
            color:#aaaaaa;
            margin:0px 15px;
            &:last-child{
                font-weight: 500;
            }
        }
    }
    &__main{
        max-width:1170px;
        margin:auto;
        margin-top:20px;
        margin-bottom:20px;
        width:100%;
        height:70px;
        @include display(center,center);
        flex-direction: column;
        background: -webkit-linear-gradient(red, orange);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        p{
            font-size: 35px;
            font-weight: 700;
        }
        span{
            font-size: 30px;
            font-style: italic;
            font-weight: 600;
        }
    }
    &__menu{
        max-width:1170px;
        margin:auto;
        width:100%;
        height:50px;
        list-style: none;
        @include display(center,center);
            li{
                height:100%;
                padding:0px 20px;
                transition:0.3s linear;
                position: relative;
                & > a{
                    line-height: 50px;
                    width:100%;
                    height:100%;
                    font-size: 14px;
                    color:black;
                    text-decoration: none;
                    font-weight: 700;
                }
                &:hover{
                    background:black;
                    a{
                        color:white;
                    }
                }
                &:hover > .dropdown{
                    display:flex;
                }
            }
    }
}
.dropdown{
    z-index:10;
    position:absolute;
    left:0px;
    width:100%;
    @include display(flex-start, flex-start);
    flex-direction:column;
    display: none;
    a{
        width:180px;
        height: 50px;
        padding:0px 10px;
        text-decoration: none;
        background:black;
        color:white;
        border-bottom:1px solid white;
        @include display(space-between, center);
        
    }
}
.banner{
    max-width:1170px;
    width:100%;
    margin:auto;
    height:735px;
    background:  url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    opacity: 0.7;
    @include display(center, center);
    flex-direction: column;
    padding:0px 100px;
    h1{
        padding:20px 0px;
        font-weight: 700;
        font-size: 60px;
        color:white;
        text-shadow: 1px 1px black;
    }
    p{
        font-weight: 700;
        font-size: 25px;
        line-height: 1.5;
        color:white;
        text-align:center;
        text-shadow: 1px 2px black;
    }
}