.products{
    max-width: 1170px;
    margin:auto;
    margin-bottom: 50px;
    &__top{
        width:100%;
        height:50px;
        border-bottom:1px solid #ddd;
        @include display(flex-start ,center);
        p{
            font-size: 12px;
            i{
                margin:0px 5px;
            }
        }
    }
    h2{
        margin-top:40px;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        padding-bottom: 15px;
        color:black;
        text-align:center;
        border-bottom:1px solid #ddd;
    }
    &__select{
        margin-top:15px;
        width:100%;
        padding-bottom: 20px;
        border-bottom:1px solid #ddd;
        @include display(flex-start, center);
        span{
            padding:10px;
            border:1px solid #ddd;
            border-radius:3px;
            margin-right:10px;
            font-weight: 600;
            i{
                font-size: 15px;
                margin-right:5px;
            }
            &:last-child{
                color:rgb(202, 202, 202);
            }
        }
    }
    &__detail{
        margin-top:50px;
        width:100%;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 40px;
        .detail{
            margin-bottom: 20px;
            &__img{
                width:100%;
                height:350px;
                @include display(center,center);
                position: relative;
                overflow:hidden;
                img{
                    width:88%;
                    height:80%;
                    object-fit: cover;
                }
                & > i{
                    opacity: 0;
                    transition:0.3s linear;
                }
                .left{
                    position: absolute;
                    left:0px;
                    font-weight: bold;
                    font-size: 25px; 
                }
                
                .right{
                    position: absolute;
                    right:0px;
                    font-size: 25px;
                }
                &:hover > i{
                    opacity: 1;
                }
                &:hover > .detail__cart{
                    transform:translateY(0%);
                }
            }
            &__cart{
                transform:translateY(100%);
                position:absolute;
                transition: 0.2s linear;
                bottom:0px;
                left:0px;
                background:black;
                width:100%;
                height:42px;
                color:white;
                font-size: 12px;
                font-weight: 700;
                @include display(center,center);
                i{
                    font-size: 20px;
                    color:white;
                }
            }
            .price{
                margin-top:10px;
                text-align: center;
                p{
                    font-size: 13px;
                    font-weight: 500;
                    letter-spacing: 0.13px;
                    line-height: 18px;
                    color:black;
                    margin-bottom:5px;
                }
                b{
                    font-size: 14px;
                    font-weight: 700;
                    margin-top:10px;
                }
            }
        }
    }
}